
.row {
    display: flex;
    flex-wrap: nowrap;
}

.column {
  flex: 0 0 auto; /* Equivalent to col-auto */
  max-width: 16%; /* Ensures it doesn’t exceed its container */
  padding-right: 0;
  padding-left: 0;
  background-color: #103052; /* bg-dark */
  line-height: 5vh;
  font-size: 2vh;
}


.head {
    flex: 1 0 0%; /* col - makes the element a flex item with equal width */
    padding: 0;   /* p-0 - removes all padding */
    margin: 0;    /* m-0 - removes all margin */
}

.logo {
    padding: 0.5rem; /* p-2 corresponds to 0.5rem or 8px padding */
    display: flex; /* d-flex */
    justify-content: center; /* justify-content-center */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); /* shadow */
}

.logo img {
    height: 10vh; /* Adjust the height as needed */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
  }